body {
    text-align: center;
}

@font-face {
    font-family: digital-font;
    src: url(ds_digital/DS-DIGIB.TTF);
}

#calcDisplay {
    font-size: 20pt;
    font-family: digital-font;
    margin-bottom: 15px;
    text-align: right;
}

.btn {
    font-size: 20px;
}

#display {
    resize: none;
    overflow-y: hidden;
}